@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --of-white: rgba(238, 239, 239, 1);
  --black-blue: rgba(28, 44, 52, 1);
  --main-yellow: rgba(228, 172, 60, 1);
  --skay-blue: rgba(63, 187, 184, 1);
  --spectra: rgba(44, 81, 90, 1);
  --dark-skay: rgb(13 35 40);
  font-family: "open sans", sans-serif;
}

* {
  user-select: none;
  text-transform: uppercase !important;
}

#root {
  background-color: var(--black-blue);
  min-height: 100vh;
}

.x-color {
  color: var(--skay-blue);
}

.o-color {
  color: var(--main-yellow);
}

.x-bg {
  background-color: var(--skay-blue);
}
.o-bg {
  background-color: var(--main-yellow);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @apply font-bold;
}

.main-btn {
  box-shadow: 1px 7px 8px var(--dark-skay);
  width: 100px;
  height: 100px;
  font-size: 3rem;
  border-radius: 15px;
}

.box {
  @apply flex flex-col gap-2 justify-center bg-slate-800 shadow-lg rounded-lg;
}
